.button{
    background: #9E96F7;
    width: 400px;
    height: 96px;
    border-radius: 50px;

    margin-left: 180px;
    margin-right: 100px;
}
.text{
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 0;
    font-size: 200%;
    font-weight: 600;
    color: white;
}

.img{
    float: left;
}

.panel{
    display: flex;
    max-width: 1920px;
    justify-content: center;
    margin: 28px;
    padding: 0;
    border: none;
}